body{
    background: white;
}
#target{
    /*position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;*/
}
#canvas1 {
    position: relative;
    border: 3px solid red;
    width: 800px;
    height: 700px;


}
#canvas2 {
    position: relative;
    width: 800px;
    height: 700px;


}
